/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, header, h1, section, article, div, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;

  font:inherit;
  text-align: inherit;
  text-decoration: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  text-align: center;
  font: sans-serif;
}

h1 {
  font-size: 12px;
  text-align: center;
}

.modal-snake-game {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255,255,255,.7);
}
.visible{
  display: block;
}

.snake-modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(255,255,255,.7);
}

.snake-high-score-form {
  display: block;
  position: absolute;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(255,255,255,1);
}

.arcade-window {
  display:block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10000;
}
.root-menu {
  display:block;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.root-menu h1 {
  font-size: 30px;
}

.root-menu-item {
  display: block;
  height: 20px;
}
.root-menu-item:hover {
  background: black;
  color: white;
}

.board > div{
  content: "";
  display: block;
  clear: both;
  width: 820px;
  position: absolute;
  height: 610px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.snake-options {
  display: block;
  float: right;
}
.snake-options > article {
  height: 85px;
  width: 708px;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
}
.snake-board-range {
  height: 85px;
  width: 708px;
  border: 1px solid black;
  text-align: center;
}
.snake-board-range > h1 {
  font-size: 36px;
}

.snake-options > article:hover {
  background: grey;
}

.snake-score {
  float: right;
  display: block;
  width: 100px;
  background: #C96427;
}

.games-selection-menu {
  float: right;
  display: block;
  width: 100px;
  background: #1509C9;
}

.menu-item {
  display: block;
  position: relative;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
.menu-item label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-board {
  float: right;
  position: relative;
  display: block;
  margin: auto;
  border: 5px solid black;
  background: #7D360C;
}

.game-board > ul {
  display: block;
  float: left;
  width: 100%;
  height: 20px;
}
.game-board > ul#resize-ul {
  height: 10px;
}

.game-board > ul > li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
}
.game-board > ul > li#resize-li {
  width: 10px;
  height: 10px;
}

.game-board > ul > li.snake {
  background: #2C8A1B;
  width: 18px;
  height: 18px;
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
}

.game-board > ul > li#resize-li.snake {
  background: #2C8A1B;
  width: 8px;
  height: 8px;
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
}

.game-board > ul > li.snake.headE {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.game-board > ul > li#resize-li.snake.headE {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.game-board > ul > li.snake.headW {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.game-board > ul > li#resize-li.snake.headW {
  border-left: 1px solid #1C5711;
  border-right: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.game-board > ul > li.snake.headN {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.game-board > ul > li#resize-li.snake.headN {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.game-board > ul > li.snake.headS {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.game-board > ul > li#resize-li.snake.headS {
  border-right: 1px solid #1C5711;
  border-left: 1px solid #1C5711;
  border-top: 1px solid #1C5711;
  border-bottom: 1px solid #1C5711;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.game-board > ul > li.tunnel {
  background: #4A2007;
  border: 1px solid #633E27;
  width: 18px;
  height: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font-size: 10px;
  color: white;
}

.game-board > ul > li#resize-li.tunnel {
  width: 8px;
  height: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 8px;
}


.game-board > ul > li.apple {
  border: 1px solid #960C00;
  background: #C91000;
  width: 18px;
  height: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.game-board > ul > li#resize-li.apple {
  width: 8px;
  height: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 8px;
}


.game-board > ul > li.rock {
  border: 1px solid #999999;
  background: #4C4C4C;
  width: 18px;
  height: 18px;
}
.game-board > ul > li#resize-li.rock {
  width: 8px;
  height: 8px;
}
