#hud {
  bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
#credits {
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  z-index: 100;
}
#radar {
  background-color: #EEEEEE;
  border: 1px solid black;
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 100;
  background: grey;
}
#backView {
  background-color: #EEEEEE;
  border: 1px solid black;
  bottom: 10px;
  right: 10px;
  position: absolute;
  z-index: 100;
  background: grey;
}
#notification {
  display: block;
  margin: auto;
  color: white;
  height: 10px;
  position: absolute;
  top: 40%; left: 0; right: 0;
}

#gameOver {
  font-size: 60px;
  display: none;
  margin: auto;
  color: white;
  height: 10px;
  position: absolute;
  top: 40%; left: 0; right: 0;
}

#gameOver.visible {
  display: block;
  animation: fadeInLoad 2s;
}

@keyframes fadeInLoad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@-webkit-keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  background-color: #EEEEEE;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 5px;
}

#asteroid-canvas {
  cursor: crosshair;
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
