<section id="asteroid-canvas"></section>
<canvas id="radar" width="201" height="201"></canvas>
<div id="hud"><p>Deaths: <span id="lives">0</span><br />Score: <span id="score">0</span><br />Asteroids left: <span id="asteroids"><%=asteroids%></span></p></div>
<div id="credits"><p>Created by <a href="">Brian Kang</a> using <a href="http://mrdoob.github.com/three.js/">Three.js</a><br />WASD to move, Space to shoot</p></div>
