<% var x = X; %>
<% if(X > 30) { x = x/2;}%>

<section class="games-selection-menu" style="height: <%=x*20 + 10%>px">
  <a class="menu-item" href="#snake">
    <label for="">
      SNAKE
    </label>
  </a>
  <a class="menu-item" href="#asteroids">
    <label for="">
      ASTEROID
    </label>
  </a>
  <a class="menu-item" href="#spaceinvaders">
    <label for="">
      INVADER
    </label>
  </a>
</section>

<article class="game-board group" style="width: <%=x*20%>px; height: <%=x*20%>px;">
  <% for (var i = 0; i < X; i++) { %>
    <% if(X <= 30) {%>
      <ul>
    <% } else { %>
      <ul id="resize-ul">
    <% } %>
      <% for (var j = 0; j < Y; j++) { %>
        <% if(X <= 30) {%>
          <li></li>
        <% } else { %>
          <li id="resize-li"></li>
        <% } %>
      <% } %>
    </ul>
  <% } %>
</article>

<section class="snake-score" style="height: <%=x*20 + 10%>px">
</section>
