<section class="snake-modal">
  You have lost!
  <br>
  <h1>Push Play Again or Press enter to play again!</h1>
  <button class="restart-snake">Play Again</button>
  <br>
  <h1>Press backspace for snake menu</h1>
<section>
