<section class="snake-high-score-form">
  <h1>Congratulations! You Beat A High Score</h1>
  Enter Your Name: <input class="snake-score-name" type="text" name="name" value="">
  <button class="submit-high-score">Submit</button>
</section>
