<section class="games-selection-menu" style="height: 609px">
</section>

<section class="snake-options">
  <section class="snake-board-range">
    <h1>Choose Dimensions</h1>
    <input type="range" class="snake-dimension-range" name="dimensions" value="30" step="2" min="10" max="60" onchange="rangevalue.value=value" />
    <output id="rangevalue">30</output>
  </section>
  <article class="cake">
    Cake
  </article>
  <article class="easy">
    Easy
  </article>
  <article class="medium">
    Medium
  </article>
  <article class="hard">
    Hard
  </article>
  <article class="insane">
    Insane
  </article>
  <article class="impossible">
    Impossible
  </article>
</section>
